{% extends "base.html" %}

{% block title %}Create an Account{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <form method="POST" class="form-group" style="margin: 40px 37%;width: 26%">
        {% csrf_token %}
        {{ form|crispy }}
        <p>If you have already an accoount? Click <a href="/auth/login/">here</a></p>
        <button type="submit" class="btn btn-success">Register</button><a class="float-right my-2" href="/"><i class="fas fa-home"></i>home</a>
    </form>
{% endblock %}